*{
    margin:0px;
    padding:0px;
}

body{
    text-align:center;
    background-color:#002642;
    font-family: cursive;
}
h1{
    font-size:3rem;
    font-weight: bolder;
    color:#EDF0DA;
    margin-top:1%;
}

.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:1%;
    gap:5rem;
}
.choice{
     display:flex;
 justify-content: center;
    align-items:center;
    height:220px;
    width:220px;
   gap:40rem;
    border-radius:50%;
  
}
.choice:hover{
cursor:pointer;
background-color:#35CE8D;
}
img{
    height:200px;
    width:200px;
    object-fit:cover;
    border-radius:50%;
}

.scoreBoard{
    display:flex;
    justify-content: center;
    align-items:center;
   gap:4rem;
   margin-top:1%;
}

.score{
 height:120px;
}
.msg{
    font-size:2.4rem;
    color:orangered;
   
}
.userScore,.compScore{
    font-size:5rem;
    color:#FF9F1C;
    
}
.footer{
    margin-top:4%;
    background-color:#4D312D;
  display:inline-block;
  height:40px;
  padding:6px;
  text-align:center;
  border:none;
}
.last{
    font-size:2rem;
    color:#35CE8D;
    font-weight:bold;
    text-align:center;

}
.hide{
    display:none;
}

.finalwinner{
    font-size:5rem;
}

.winners{
    margin-top:10%;
}



