*{
    margin:0px;
    padding:0px;
}

body{
    text-align:center;
    background-color:#002642;
    font-family:cursive;
    background:linear-gradient(-45deg,#002642,#15366c,#002642,#D30C7B);
    background-size:400% 400%;
    animation: bgmove 10s ease-in infinite;
}

@keyframes bgmove{

    0% { background-position: 0% 50%; }
    50% { background-position: 40% 50%; }
    100% { background-position: 0% 50%; }
}


.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:1%;
    gap:50px;
}

h1{
    margin-top:1%;
    font-size:50px;
    color:whitesmoke;
}

.choice{
height:200px;
width:200px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
}
.choice:hover{
    cursor:pointer;
    background-color:#F719E1;
}
.choice:active{
    transform:scale(.9);
    transition:all .1s ease-in-out 0s;
}

img{
height:180px;
width:180px;
border-radius:50%;
object-fit:cover;
}
.scoreboard{
    margin-top:1%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3rem;
}

.userscore,.compscore{
    font-size:5rem;
    color:brown;
    transition:transform .2s ease;
   
}

.smsg{
    font-size:1.8rem;
    color:chocolate;
}
.footer{
    margin-top:1%;
}

.lmsg{
    font-size:2rem;
    color:chartreuse;
    
    display:inline;
}
.hide{
    display:none;
}

.msgcontainer{
    margin-top:13%;
    height:400px;
    animation: fadeIn 1s ease;
   
}
@keyframes fadeIn{
    from{opacity:0;}
    to{ opacity:1;}
}
.msg{
font-size:5rem;
color:#19F79D;
}

button{
    font-size:2rem;
    color:#D30C7B;
    margin-top:3%;
    background-color:black;
    padding:14px;
}