*{
  margin:0px;
  padding:0px;
}
body{
  background-color:#002642 ;
  text-align: center;
}

.container{
 
 height:80vh;
 display:flex;
 justify-content: center;
 align-items:center;
 
}

.game{
  height:70vmin;
  width:70vmin;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  align-items:center;
  gap:2rem;
  
}
.box{
  height:19vmin;
  width:19vmin;
  background-color: #E59500;
  border-radius:20%;
  border:none;
  box-shadow:  0 0 .5rem rgba(10, 187, 184, 0.3);
  font-size:2.7rem;
  color:black;
}

.newbtn{
  color:#02040F;
   border:none;
  background-color: transparent;
  font-size:2rem;
font-family: cursive;
}
a{
  text-decoration: none;
  color:#F42B03;
}
.resetbtn{
  border:none;
  background-color: transparent;
  font-size:2rem;
  font-family: cursive;

}
.hide{
  display:none;
}
h1{
  font-size:3rem;
  color:#3E885B;
  font-family: cursive;
  margin-top:.1%;
}
.msg{
  font-size:3rem;
  font-weight: bolder;
  color:#5E8C61;
  font-family:cursive;
}
.msgcontainer{
  height:100vh;
  margin-top:15%;
}